.page-header {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  padding: 20px 80px 10px 80px;
}

.page-header__wrapper {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;

  background-color: #ffff;
  border: 1px solid #55555555;
  border-radius: 10px;

  padding: 30px;

  .header-input__wrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;

    .header-input {
      width: 300px;
      height: 20px;
      padding: 5px;
      border-radius: 5px;
      border: none;
      font-size: 20px;

      &:focus {
        outline: none;
      }

      &:focus~.header-input__style-line {
        background-color: #ffbc85;
      }
    }

    .header-input__style-line {
      width: 100%;
      height: 2px;
      background-color: #55555555;
    }

    .page-header__categories {
      width: 100%;
      height: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      background-color: none;
      border: none;
      outline: none;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;

      padding: 0 5px;
      font-size: 18px; 
      color: #555555;
    
      .category{
       font-size: 18px;
      }

    }

     .header-select__style-line {
      width: 100%;
      height: 2px;
      background-color: #55555555;
    }

    .page-header__categories:hover + .header-select__style-line {
      background-color: #ffbc85;
    }

    .page-header__categories:focus + .header-select__style-line {
      visibility: hidden;
    }

  }


  .header-search-btn__wrapper {
    .search-btn {
      width: 100px;
      height: 40px;
      border: 1px solid #000;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      transition: background-color .2s ease-in-out;

      .search-btn-title {
        font-size: 20px;
      }
    }

    .search-btn:hover {
      background-color: #ffbc85;
    }
  }
}